pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
Flask

# to trigger (enable, running) the code inside setup.py
#-e . 
# -- enable if want to make a new package of information project